@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

#footer {
  -moz-transition: bottom 0.2s ease;
  -webkit-transition: bottom 0.2s ease;
  -ms-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
  position: fixed;
  bottom: -20em;
  color: #2803fc;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

  #footer.show {
    bottom: 0;
  }

  #footer .info {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-radius: 50% 50% 0 0;
    background: #2803fc;
    width: 3em;
    height: 3em;
    margin-bottom: -1.75em;
    color: #FFF;
    font-size: 1.25em;
    padding-top: .35em;
  }

    #footer .info span {
      display: none;
    }

  #footer .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    position: relative;
    z-index: 10003;
    background: #2803fc;
    padding: 2em;
    height: 20em;
  }

    #footer .inner .content,
    #footer .inner .copyright {
      width: 50%;
      text-align: left;
      color: rgba(255, 255, 255, 0.75);
      padding: 2em;
      display: inline-block;
    }

      #footer .inner .content h3,
      #footer .inner .copyright h3 {
        color: #FFF;
        font-size: 1.75em;
      }

      #footer .inner .content a,
      #footer .inner .copyright a {
        color: #FFF;
      }

        #footer .inner .content a:hover,
        #footer .inner .copyright a:hover {
          color: rgba(255, 255, 255, 0.75);
        }

      #footer .inner .content p,
      #footer .inner .copyright p {
        margin: 0;
      }

    #footer .inner .copyright ul {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding-bottom: 1em;
    }

  @media screen and (max-width: 980px) {

    #footer {
      position: relative;
      bottom: 0;
    }

      #footer .inner {
        height: auto;
        display: block;
      }

        #footer .inner .content,
        #footer .inner .copyright {
          display: block;
          width: 100%;
          text-align: center;
        }

      #footer .info {
        display: none;
      }

  }

  @media screen and (max-width: 480px) {

    #footer .inner {
      padding: 2em;
    }

      #footer .inner .content,
      #footer .inner .copyright {
        padding: 1em;
      }

  }
